:root {
	color-scheme: dark;

	--background: #002b36;
	--background-muted: #073642;
	--foreground: #93a1a1;
	--foreground-muted: #839496;
	--border: #0d4a5a;
	--link: #4aa8e6;
	--error: #ef6b64;
	--warning: #c9980a;
	--accent: #268bd2;

	--editor-background: #073642;
	--highlight-background: #5c5200;

	--editor-background-muted: #002b36;
	--blockquote-border: #586e75;

	--syntax-keyword: #b58900;
	--syntax-string: #2aa198;
	--syntax-number: #d33682;
	--syntax-function: #268bd2;
	--syntax-constant: #dc322f;
	--syntax-type: #859900;
}

.deft-settings-page {
	--background: #073642;
}
